<article class="article-view-wrapper">
    <header>
        <h1>{{title}}</h1>
        <p class="summary">{{summary}}</p>
    </header>
    <div class="content toastui-editor-contents">
        {{{html}}}
    </div>
</article>