.history-wrap {
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        left: 5px;
        height: 100%;
        width: 1px;
        content: '';
        background-color: $primary;
    }
    .item {
        position: relative;
        &::before {
            position: absolute;
            top: 20px;
            left: -19px;
            margin-top: -10px;
            margin-left: -10px;
            border: 5px solid $primary;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: $white;
            content: '';
        }
        .card-header {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}