.global-nav {
  li:hover {
    > ul.dropdown-menu {
      display: block;
    }
  } 
  .dropdown-submenu {
    position: relative;
    > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top:-6px;
    }
  }
  
  /* rotate caret on hover */
  .dropdown-menu {
    > li > a:hover:after {
      text-decoration: underline;
      transform: rotate(-90deg);
    }
  } 
}

.offcanvas {
  .brand-link {
    img {
      max-height: 2rem;
    }
  }
  .offcanvas-nav {
    .btn-children:not(.collapsed) {
      opacity: 0.2;
    }
    li {
      background-color: $white;
    }
    ul {
      list-style: none;
      background-color: rgba($primary,0.025);
    }
  }

}