.tag-label {
    display: inline-flex;
    border: 1px;
    border-color: $gray-500;
    border-style: solid;
    border-radius: $border-radius-sm;
    margin-right: .5rem;
    margin-bottom: .5rem;
    font-size: .8em;
    .text {
        word-wrap: break-word;
        padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
    }

    .tag {
        color: $white;
        background-color: $gray-500;
        padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
    }
}